{%extends 'layouts/base.html'%}
{%load static %}
{%load tag%}
{%block stylesheets%}
{%endblock stylesheets%}
{%block content%}
<h3>Ajouter un nouvel établissement</h3>
<div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 ">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">établissement</a></li> <!-- go back to researcher -->
          <li class="breadcrumb-item active" aria-current="page">ajouter</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
			<form action="" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                {% csrf_token %} 			
				        {{form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Ajouter" class="btn btn-gray-800 mt-3 animate-up-3 cc" name="Submit" />
                <a href="{% url 'org-etas-liste'  %}"><button id="btnChangeBg" type="button" class="btn mt-3 animate-up-3 btn-outline-danger">Annuler</button></a>

                      </div>
                    </div>
                </div>
             
			</form>

		</div>
	</div>
</div>
<style>
 .cc{
  width: 204px;
 }

 
</style>
{%endblock content%}
{% block javascripts %}
<script>
  var drop = document.getElementById("id_location");
  var drop1 = document.getElementById("id_chef_etablisement");
  drop.className += "form-select mb-0";
  drop1.className += "form-select mb-0";
</script>
{% endblock javascripts %}  

<style>.footer{
  display: none;
 }</style>