{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
<li class="nav-item {% if request.resolver_match.url_name == 'div-dash' %}  active {% endif %}">
  <a href="{% url 'div-dash' %}" class="nav-link">
    <span class="sidebar-icon">
      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
    </span> 
    <span class="sidebar-text">Dashboard DIV</span>
  </a>
</li>
<li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
<li class="nav-item">
  <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-div-equipes">
    <span>
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
      </span> 
      <span class="sidebar-text">Equipes</span>
    </span>
    <span class="link-arrow">
      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
  </span>
  <!-- sub menu equipes  -->
  <div class="multi-level collapse {% if '/division/equipes' in request.path %} show {%endif%}" role="list" 
  id="submenu-div-equipes" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'div-equipes-dash' %} active {%endif%}">
        <a class="nav-link" href="{% url 'div-equipes-dash' %}">
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'div-equipes-liste' %} active {%endif%}">
        <a class="nav-link" href="{% url 'div-equipes-liste' %}">
          <span class="sidebar-text">Liste D'Equipes</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
<li class="nav-item ">
  <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-div-chercheurs">
    <span>
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
      </span> 
      <span class="sidebar-text">Chercheurs</span>
    </span>
    <span class="link-arrow">
      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
  </span>
  <div class="multi-level collapse {% if   '/division/chercheurs/' in request.path %} show {%endif%}" role="list" 
  id="submenu-div-chercheurs" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'div-chers-dash'  %} active {%endif%}">
        <a class="nav-link" href="{% url 'div-chers-dash' %}">
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'div-chers-liste'  %} active {%endif%}">
        <a class="nav-link" href="{% url 'div-chers-liste' %}">
          <span class="sidebar-text">Liste De CHERs</span>
        </a>
      </li>
    </ul>
  </div>
</li>