{% load static %}
{%load tag%}
{% block stylesheets %}
{% endblock stylesheets %}
<div class="sidebar-heading mt-2">
  Mon division
</div>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if request.resolver_match.url_name == 'div-dash' %}  active {% endif %}">
  <a href="{% url 'div-dash' div_id=user|div_id %}" class="nav-link">
    <span class="sidebar-icon">
      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
    </span> 
    <span class="sidebar-text">Tableau de bord</span>
  </a>
</li>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if request.resolver_match.url_name == 'div-equipes-liste'  %} active {%endif%}">
    <a href="{% url 'div-equipes-liste' div_id=user|div_id %}" class="nav-link">
      <span>
        <span class="sidebar-icon">
          <svg width="30px" height="30px" class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
        </span>
        <span class="sidebar-text">Equipes</span>
    </a>
  </span>
</li>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item">
  <span
    class="nav-link  collapsed  d-flex justify-content-between align-items-center"
    data-bs-toggle="collapse" data-bs-target="#submenu-chers">
    <span>
      <span class="sidebar-icon">
        <svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
      </span> 
      <span class="sidebar-text">Chercheurs</span>
    </span>
    <span class="link-arrow">
      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
  </span>
  <div class="multi-level collapse {% if 'tables-bootstrap-' in segment %} show {% endif %}"
    role="list" id="submenu-chers" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'org-chers-liste' %} active {% endif %}">
        <a class="nav-link" href="{%url 'div-members-liste' div_id=user|div_id%}">
          <span class="sidebar-text">members</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'org-chers-liste' %} active {% endif %}">
        <a class="nav-link" href="{%url 'div-chefequ-liste' div_id=user|div_id%}">
          <span class="sidebar-text">chef equipes</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>