{% load static %}
{%load tag%}
{% block stylesheets %}

{% endblock stylesheets %}


<div class="sidebar-heading mt-4">
    Mon Equipe
</div>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if request.resolver_match.url_name == 'equipe-dash' %}  active {% endif %}">
    <a href="{% url 'equipe-dash' equ_id=user|equipe_id %}" class="nav-link">
    <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
    </span> 
    <span class="sidebar-text">Tableau de bord</span>
    </a>
</li>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if '/members/' in request.path  %} active {%endif%}">
    <a href="{% url 'equipe-chers-liste' equ_id=user|equipe_id %}" class="nav-link">
        <span>
            <span class="sidebar-icon">
                <svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
            </span>
            <span class="sidebar-text">Chercheurs</span>
        </span>
    </a>
</li>    
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>