{% load static %}
{% block stylesheets %}

{% endblock stylesheets %}


<div class="sidebar-heading">
    Mon Equipe
</div>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if request.resolver_match.url_name == 'equipe-dash' %}  active {% endif %}">
    <a href="{% url 'equipe-dash' %}" class="nav-link">
    <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
    </span> 
    <span class="sidebar-text">Tableau de bord</span>
    </a>
</li>
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>
<li class="nav-item {% if request.resolver_match.url_name == 'equipe-chers-dash'  %} active {%endif%}">
    <a href="{% url 'equipe-chers-liste' %}" class="nav-link">
        <span>
            <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
            </span>
            <span class="sidebar-text">Chercheurs</span>
        </span>
    </a>
</li>    
<li role="separator" class="dropdown-divider mt-2 mb-2 border-gray-700"></li>