{%load static%}
<!-- Core -->
<script src="{{ ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="{{ ASSETS_ROOT }}/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="{{ ASSETS_ROOT }}/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="{{ ASSETS_ROOT }}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>


<!-- Datepicker -->
<script src="{{ ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{{ ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{{ ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="{{ ASSETS_ROOT }}/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="{{ ASSETS_ROOT }}/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{{ ASSETS_ROOT }}/js/volt.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
<script src="{% static 'geomap/algeria/algeria.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-base.min.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-map.min.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-exports.min.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-ui.min.js' %}" ></script>



<script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/chart/chart-area-demo.js' %}" ></script>  
<script src="{% static 'assets/js/chart/chart-bar-demo.js' %}" ></script>  
<script src="{% static 'assets/js/chart/chart-pie-demo.js' %}" ></script>  
{% comment %} <script src="{% static 'assets/js/chart/datatables-demo.js' %}" ></script>    {% endcomment %}
