{% load static %}
<!-- Core -->
<script src="{{ ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="{{ ASSETS_ROOT }}/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="{{ ASSETS_ROOT }}/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="{{ ASSETS_ROOT }}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>


<!-- Datepicker -->
<script src="{{ ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{{ ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script> {% endcomment %}

<!-- Vanilla JS Datepicker -->
<script src="{{ ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="{{ ASSETS_ROOT }}/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="{{ ASSETS_ROOT }}/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{{ ASSETS_ROOT }}/js/volt.js"></script>
<script src="{{ ASSETS_ROOT }}/js/charts.js"></script>

{%comment%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
<script src="geomap/algeria/algeria.js' %}" ></script>
<script src="{{ STATIC_ROOT }}/geomap/js/anychart-base.min.js}" ></script>
<script src="{{ STATIC_ROOT }}/geomap/js/anychart-map.min.js}" ></script>
<script src="{{ STATIC_ROOT }}/geomap/js/anychart-exports.min.js}" ></script>
<script src="{{ STATIC_ROOT }}/geomap/js/anychart-ui.min.js}" ></script>
<script src="{{ STATIC_ROOT }}/chart.js/dist/chart.min.js"></script>
<script src="{{ STATIC_ROOT }}/jquery/dist/jquery.min.js"></script>
{%endcomment%}

<script src="{% static 'chart.js/dist/chart.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>

{% comment %} <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-table.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script> {% endcomment %}



{% comment %} <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script> {% endcomment %}
{% comment %} <script src="https://cdn.anychart.com/releases/v8/js/anychart-table.min.js"></script> {% endcomment %}
{% comment %} <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script> {% endcomment %}


<script src="{% static 'geomap/js/anychart-base.min.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-map.min.js' %}" ></script>
<script src="{% static 'geomap/js/anychart-exports.min.js' %}"></script>
<script src= "{% static 'geomap/js/anychart-circular-gauge.min.js'%}"></script>
<script src= "{% static 'geomap/js/anychart-table.min.js'%}"></script>
<script src= "{% static 'geomap/js/anychart-data-adapter.min.js'%}"></script>
<script src="{% static 'geomap/js/anychart-ui.min.js' %}"></script>
<script src="{% static 'geomap/algeria/algeria.js' %}" ></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#search-bar").on("keyup", function(){
          console.log("fd")
            var value = $(this).val().toLowerCase();
            $("#liste tr").filter(function() {
              
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>