{% load tag %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
  {% include 'includes/links.html'%}
  {% block stylesheets %}
  <style>
    .sidebar-inner {
      height:95vh;
      /*overflow-y: scroll ;*/
    }
      h3 {
      font-weight:bold;
    }
    .content{
      height: 100vh;
      overflow-y: scroll;
    }
    
  </style>
  {% endblock stylesheets %}

</head>
<body>
  <nav id="sidebarMenu" class="sidebar d-lg-block text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <ul class="nav flex-column pt-3 pt-md-0">
        {%include 'components/icon.html'%}
        {% if user.is_superuser %}
          {%include 'includes/org_sidebar.html'%}
        {% else %}
          {%if user|chef_etablisement == True %}
            {% include 'includes/eta_sidebar.html' %}
          {%endif%}
          {% if user|chef_division == True %}
            {% include 'includes/div_sidebar.html' %}
          {%endif%}
          {% if user|chef_equipe == True %}
            {% include 'includes/equ_sidebar.html' %}
          {%endif%}
        {%endif%}
        {% if user|membre_simple == True %}
        {% include 'includes/sidebar.html' %}
        {%endif%}
      </ul>
    </div>
  </nav>
  <main class="content">
    {% include 'includes/navigation.html' %}
    {% block content %}{% endblock content %} 
    {% include 'includes/footer.html' %}
    
  </main>
  {% include 'includes/scripts.html' %}
  {% block javascripts %}{% endblock javascripts %}
      
</body>
</html>
