{% extends "layouts/base.html" %}
{%load static%}
{% load tag %}
{% block content %}
{%block stylesheet%}
<style>
    .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .anychart-embed{
        width: 100vw;
        height: 100vh;
        border-radius: 50px;
    }
     #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

</style>
{% endblock stylesheet %}

<h1>Les donnes de <span id="dataset">All Wilayas</span></h1>

<div class="row">
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Etablisements</h2>
                            <h3 class="fw-extrabold mb-2" id="nbr_etas">{{nbr_etablisements}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Divisions</h2>
                            <h3 class="fw-extrabold mb-2" id="nbr_divs">{{nbr_divisions}}</h3>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Equipes</h2>
                            <h3 class="fw-extrabold mb-2" id="nbr_equipes">{{nbr_equipes}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Chercheurs</h2>
                            <h3 class="fw-extrabold mb-2" id="nbr_researchers">{{nbr_researchers}}</h3>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick='initdata()'>all wilayas</button>

<div id="container">
</div>

<!-- {{all_etablisements_citations}} -->

<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">
      <div class="row row-bordered g-0">
        <div class="col">
          <h5 class="card-header m-0 me-2 pb-3">les citations finale de les derniers 8 anness</h5>
          <div id="totalRevenueChart" class="px-2">
            <canvas id="m"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

<h3> Top 10 Etablisement Citations </h3>
{% include 'components/org/top10-citations-etas.html' %}

<h3>Top 10 divisions Citations</h3>

{{wilaya_etas}}

<h3>Top 10 equipes Citations </h3>

<h3>Top 10 researchers Citations</h3>

<h3>Top Etablisement Citations</h3>

<h3>Top division Citations</h3>

<h3>Top equipe Citations </h3>

<h3>Top researcher citations</h3>





{% endblock content %}
{% block javascripts %}
<script>
    const labels = [{% for item in all_etablisements_citations %}'{{item.year}}',{%endfor%}];
    const data={
        labels: labels, 
        datasets : [{
            label : 'Final 8 years citations of all etablisements ', 
            data : [{% for item in all_etablisements_citations %}{{item.citations}},{%endfor%} ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            ],
            borderColor: '#3ca0fe',
            maxBarThickness: 12,
        }]
    };
    const config ={
        type :'bar', 
        data: data,
        options : {}
    };
    const mychart = new Chart(
        document.getElementById('m'),
        config
    );
    const nbrEtas = document.getElementById("nbr_etas")
    const nbrDivs = document.getElementById("nbr_divs")
    const nbrEquipes = document.getElementById("nbr_equipes")
    const nbrResearchers = document.getElementById("nbr_researchers")
    const dataset = document.getElementById("dataset")
    function initdata(){
        nbrEtas.innerHTML = {{nbr_etablisements|safe}},
        nbrDivs.innerHTML = {{nbr_divisions|safe}},
        nbrEquipes.innerHTML = {{nbr_equipes|safe}}
        nbrResearchers.innerHTML = {{nbr_researchers|safe}}
        dataset.innerHTML = "ALL Wilayas"
    }
    anychart.onDocumentReady(function() {
        // create map
        var map = anychart.map();
        var _data = {{wilaya_etas|safe }};
        console.log(_data)
        // create data set
        var dataSet = anychart.data.set(
            _data
            );
      
        // create choropleth series
        series = map.choropleth(dataSet);
      
        // set geoIdField to 'id', this field contains in geo data meta properties
        series.geoIdField('id');
      
        // set map color settings
        series.colorScale(anychart.scales.linearColor('#deebf7', '#3182bd'));
        series.hovered().fill('#3ca0fe');
      
        // set geo data, you can find this map in our geo maps collection
        // https://cdn.anychart.com/#maps-collection
        map.geoData(anychart.maps['algeria']);
        var func_listen = function(e){
            
            console.log(Object.values(e.iterator.f)[0])
            nbrEtas.innerHTML = e.iterator.f.value
            nbrDivs.innerHTML = e.iterator.f.nbr_divs
            nbrEquipes.innerHTML = e.iterator.f.nbr_equipes
            nbrResearchers.innerHTML = e.iterator.f.nbr_researchers
            dataset.innerHTML = Object.values(e.iterator.f)[0]
        }
        //map.labels(true);
        //set map container id (div)
        map.interactivity().zoomOnMouseWheel(true);
        map.listen('pointClick', func_listen);
        map.container('container');

      
        //initiate map drawing
        map.draw();
      });


    </script>
{% endblock javascripts %}  