{% extends "layouts/base.html" %}
{%load static%}
{% load tag %}
{% block content %}
{%block stylesheet%}
<style>
    .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .anychart-embed{
        width: 100vw;
        height: 100vh;
        border-radius: 50px;
    }
     #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

</style>
{% endblock stylesheet %}
<div class="row">
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Etablisements</h2>
                            <h3 class="fw-extrabold mb-2">{{nbr_etablisement}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Divisions</h2>
                            <h3 class="fw-extrabold mb-2">{{nbr_divisions}}</h3>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Equipes</h2>
                            <h3 class="fw-extrabold mb-2">{{nbr_equipes}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Chercheurs</h2>
                            <h3 class="fw-extrabold mb-2">{{nbr_researcher}}</h3>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container">
</div>

<!-- {{all_etablisements_citations}} -->
<!-- <div id="anychart-embed-countries-algeria" class="anychart-embed anychart-embed-countries-algeria">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/geodata/2.1.1/countries/algeria/algeria.js"></script>
    <div id="ac_style_countries-algeria" style="display:none;">
     #container {
        width: 90%;
        height: 90%;
        margin: 0;
        padding: 0;
    }
    </div>
    <script>
        (function(){
    function ac_add_to_head(el){
        var head = document.getElementsByTagName('head')[0];
        head.insertBefore(el,head.firstChild);
    }
    function ac_add_link(url){
        var el = document.createElement('link');
        el.rel='stylesheet';el.type='text/css';el.media='all';el.href=url;
        ac_add_to_head(el);
    }
    function ac_add_style(css){
        var ac_style = document.createElement('style');
        if (ac_style.styleSheet) ac_style.styleSheet.cssText = css;
        else ac_style.appendChild(document.createTextNode(css));
        ac_add_to_head(ac_style);
    }
    ac_add_link('https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css');
    ac_add_style(document.getElementById("ac_style_countries-algeria").innerHTML);
    ac_add_style(".anychart-embed-countries-algeria{width:600px;height:450px;}");
    })();
    </script>
    <div id="container">
    </div>
    <script>
    anychart.onDocumentReady(function() {
      // create map
      var map = anychart.map();
    
      // create data set
      var dataSet = anychart.data.set(
          [{"id":"DZ.AR","value":0},
                {"id":"DZ.AT","value":1},
                {"id":"DZ.OR","value":2},
                {"id":"DZ.SB","value":3},
                {"id":"DZ.TL","value":4},
                {"id":"DZ.BC","value":5},
                {"id":"DZ.NA","value":6},
                {"id":"DZ.TN","value":7},
                {"id":"DZ.AN","value":8},
                {"id":"DZ.ET","value":9},
                {"id":"DZ.JJ","value":10},
                {"id":"DZ.SK","value":11},
                {"id":"DZ.IL","value":12},
                {"id":"DZ.TM","value":13},
                {"id":"DZ.EB","value":14},
                {"id":"DZ.1950","value":15},
                {"id":"DZ.GR","value":16},
                {"id":"DZ.LG","value":17},
                {"id":"DZ.OG","value":18},
                {"id":"DZ.AL","value":19},
                {"id":"DZ.BM","value":20},
                {"id":"DZ.TO","value":21},
                {"id":"DZ.TP","value":22},
                {"id":"DZ.AD","value":23},
                {"id":"DZ.CH","value":24},
                {"id":"DZ.MC","value":25},
                {"id":"DZ.MG","value":26},
                {"id":"DZ.RE","value":27},
                {"id":"DZ.SD","value":28},
                {"id":"DZ.TR","value":29},
                {"id":"DZ.TS","value":30},
                {"id":"DZ.BB","value":31},
                {"id":"DZ.BJ","value":32},
                {"id":"DZ.BL","value":33},
                {"id":"DZ.BU","value":34},
                {"id":"DZ.BS","value":35},
                {"id":"DZ.DJ","value":36},
                {"id":"DZ.MD","value":37},
                {"id":"DZ.MS","value":38},
                {"id":"DZ.SF","value":39},
                {"id":"DZ.BT","value":40},
                {"id":"DZ.CO","value":41},
                {"id":"DZ.GL","value":42},
                {"id":"DZ.KH","value":43},
                {"id":"DZ.ML","value":44},
                {"id":"DZ.OB","value":45},
                {"id":"DZ.SA","value":46},
                {"id":"DZ.TB","value":47}]
      );
    
      // create choropleth series
      series = map.choropleth(dataSet);
    
      // set geoIdField to 'id', this field contains in geo data meta properties
      series.geoIdField('id');
    
      // set map color settings
      series.colorScale(anychart.scales.linearColor('#deebf7', '#3182bd'));
      series.hovered().fill('#addd8e');
    
      // set geo data, you can find this map in our geo maps collection
      // https://cdn.anychart.com/#maps-collection
      map.geoData(anychart.maps['algeria']);
    
      //set map container id (div)
      map.container('container');
    
      //initiate map drawing
      map.draw();
    });
    </script>
</div> -->


<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">
      <div class="row row-bordered g-0">
        <div class="col">
          <h5 class="card-header m-0 me-2 pb-3">les citations finale de les derniers 8 anness</h5>
          <div id="totalRevenueChart" class="px-2">
            <canvas id="m"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

<h3> Top 10 Etablisement Citations </h3>
{% include 'components/org/top10-citations-etas.html' %}

<h3>Top 10 divisions Citations</h3>

<h3>Top 10 equipes Citations </h3>

<h3>Top 10 researchers Citations</h3>

<h3>Top Etablisement Citations</h3>

<h3>Top division Citations</h3>

<h3>Top equipe Citations </h3>

<h3>Top researcher citations</h3>





{% endblock content %}
{% block javascripts %}
<script>
    const labels = [{% for item in all_etablisements_citations %}'{{item.year}}',{%endfor%}];
    const data={
        labels: labels, 
        datasets : [{
            label : 'Final 8 years citations of all etablisements ', 
            data : [{% for item in all_etablisements_citations %}{{item.citations}},{%endfor%} ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            ],
            borderColor: '#3ca0fe',
            maxBarThickness: 12,
        }]
    };
    const config ={
        type :'bar', 
        data: data,
        options : {}
    };
    const mychart = new Chart(
        document.getElementById('m'),
        config
    );
    anychart.onDocumentReady(function() {
        // create map
        var map = anychart.map();
      
        // create data set
        var dataSet = anychart.data.set(
            [{"id":"DZ.AR","value":0},
                  {"id":"DZ.AT","value":1},
                  {"id":"DZ.OR","value":2},
                  {"id":"DZ.SB","value":3},
                  {"id":"DZ.TL","value":4},
                  {"id":"DZ.BC","value":5},
                  {"id":"DZ.NA","value":6},
                  {"id":"DZ.TN","value":7},
                  {"id":"DZ.AN","value":8},
                  {"id":"DZ.ET","value":9},
                  {"id":"DZ.JJ","value":10},
                  {"id":"DZ.SK","value":11},
                  {"id":"DZ.IL","value":12},
                  {"id":"DZ.TM","value":13},
                  {"id":"DZ.EB","value":14},
                  {"id":"DZ.1950","value":15},
                  {"id":"DZ.GR","value":16},
                  {"id":"DZ.LG","value":17},
                  {"id":"DZ.OG","value":18},
                  {"id":"DZ.AL","value":19},
                  {"id":"DZ.BM","value":20},
                  {"id":"DZ.TO","value":21},
                  {"id":"DZ.TP","value":22},
                  {"id":"DZ.AD","value":23},
                  {"id":"DZ.CH","value":24},
                  {"id":"DZ.MC","value":25},
                  {"id":"DZ.MG","value":26},
                  {"id":"DZ.RE","value":27},
                  {"id":"DZ.SD","value":28},
                  {"id":"DZ.TR","value":29},
                  {"id":"DZ.TS","value":30},
                  {"id":"DZ.BB","value":31},
                  {"id":"DZ.BJ","value":32},
                  {"id":"DZ.BL","value":33},
                  {"id":"DZ.BU","value":34},
                  {"id":"DZ.BS","value":35},
                  {"id":"DZ.DJ","value":36},
                  {"id":"DZ.MD","value":37},
                  {"id":"DZ.MS","value":38},
                  {"id":"DZ.SF","value":39},
                  {"id":"DZ.BT","value":40},
                  {"id":"DZ.CO","value":41},
                  {"id":"DZ.GL","value":42},
                  {"id":"DZ.KH","value":43},
                  {"id":"DZ.ML","value":44},
                  {"id":"DZ.OB","value":45},
                  {"id":"DZ.SA","value":46},
                  {"id":"DZ.TB","value":47}]
        );
      
        // create choropleth series
        series = map.choropleth(dataSet);
      
        // set geoIdField to 'id', this field contains in geo data meta properties
        series.geoIdField('id');
      
        // set map color settings
        series.colorScale(anychart.scales.linearColor('#deebf7', '#3182bd'));
        series.hovered().fill('#addd8e');
      
        // set geo data, you can find this map in our geo maps collection
        // https://cdn.anychart.com/#maps-collection
        map.geoData(anychart.maps['algeria']);
      
        //set map container id (div)
        map.container('container');
      
        //initiate map drawing
        map.draw();
      });
</script>
{% endblock javascripts %}  