{% extends "layouts/base.html" %} 
{% load static %}
{% load tag %} 
{% block content %} 
{%block stylesheet%}
<style>
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .anychart-embed {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
  }
  #container {
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  #do {
    height: 80vh;
  }
  .btn-outline-info svg:hover{
      filL:#fff;
  }
  .card .row{
    background-color: transparent;
  }
  .shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  }
</style>
{% endblock stylesheet %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col"> 
      <h3>Tableau de bord de L'organisation <b>MESRS</b><br></h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'org-carte'%}">Organisation</a></li>
        <li class="breadcrumb-item active">Tableau de Bord</li>
      </ul>
   </div>
  </div>
</div>

<div class="card shadow mb-4">
  <a class="d-block card-header py-3" 
      role="button" data-bs-toggle="collapse" data-bs-target="#collapseCardExample" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Les etablisements</h6>
  </a>

  <div class="card-body card-body-cards">
    <div class="row collapse show" id="collapseCardExample">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Nombre de citation par année</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="citations-chart" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Nombre de citation par établissement</h6>
          </div>
          <div class="card-body">
              <div class="chart-area">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                  <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                </div>
                  <canvas id="citations-eta" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
              </div>
          </div>
        </div>
      </div>
      <!-- Pie Chart -->
      {% comment %} <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Meilleure etablisement</h6>
              </div>
              <div class="card-body">
                  {% comment %} <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;" width="486" height="245" class="chartjs-render-monitor"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div> {% endcomment %}
    </div>
  </div>  
</div>

{% comment %} <div class="card shadow mb-4">
  <a class="d-block card-header py-3" 
      role="button" data-bs-toggle="collapse" data-bs-target="#collapseCardExample" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Les Divisions</h6>
  </a>

  <div class="card-body card-body-cards">
    <div class="row collapse show" id="collapseCardExample">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Citations par annees</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Meilleure etablisement</h6>
              </div>
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;" width="486" height="245" class="chartjs-render-monitor"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
</div>

<div class="card shadow mb-4">
  <a class="d-block card-header py-3" 
      role="button" data-bs-toggle="collapse" data-bs-target="#collapseCardExample" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Les Equipes</h6>
  </a>

  <div class="card-body card-body-cards">
    <div class="row collapse show" id="collapseCardExample">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Citations par annees</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Meilleure etablisement</h6>
              </div>
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;" width="486" height="245" class="chartjs-render-monitor"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
</div>

<div class="card shadow mb-4">
  <a class="d-block card-header py-3" 
      role="button" data-bs-toggle="collapse" data-bs-target="#collapseCardExample" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Les Chercheurs</h6>
  </a>

  <div class="card-body card-body-cards">
    <div class="row collapse show" id="collapseCardExample">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Citations par annees</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Meilleure etablisement</h6>
              </div>
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;" width="486" height="245" class="chartjs-render-monitor"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
</div> {% endcomment %}


{% comment %} {{total_citations}}

<h3>Top Etablisement Citations</h3>

<h3>Top division Citations</h3>

<h3>Top equipe Citations</h3>

<h3>Top researcher citations</h3> {% endcomment %}

{% endblock content %} 
{% block javascripts %}

<script>
  var ctx = document.getElementById("citations-chart");
  var ctx2 = document.getElementById("citations-eta");
  var myLineChart = new Chart(ctx, {  
    type: 'line',
    data: {
      labels: [{% for item in total_citations.citations%} '{{item.year}}',{%endfor%}],
      datasets: [{
        label: "citations",
        lineTension: 0.3,
        backgroundColor: "rgba(78, 115, 223, 0.05)",
        borderColor: "rgba(78, 115, 223, 1)",
        pointRadius: 3,
        pointBackgroundColor: "rgba(78, 115, 223, 1)",
        pointBorderColor: "rgba(78, 115, 223, 1)",
        pointHoverRadius: 3,
        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
        pointHitRadius: 10,
        pointBorderWidth: 2,
        data: [{% for item in total_citations.citations %} {{item.citations}}, {%endfor%}],
      }],
    },
    options: {
      maintainAspectRatio: false,
      layout: {
        padding: {
          left: 10,
          right: 25,
          top: 25,
          bottom: 0
        }
      },
      legend: {
        display: false
      },
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
          label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': '+number_format(tooltipItem.yLabel);
          }
        }
      }
    }
  });  
  var barchart= new Chart(ctx2, {
      
    type: 'bar',
    data: {
      labels: [{% for eta in all_etas_citations%} '{{eta.nom}}',{%endfor%}],
      datasets: [{
        label: "citations",
        lineTension: 0.3,
        backgroundColor: 'rgba(78, 115, 223, 0.4)',
        borderColor: 'rgb(78, 115, 223)',
        data: [{% for eta in all_etas_citations %} {{eta.citations_total}}, {%endfor%}],
        borderWidth: 1
      }],
    },
    options: {
      maintainAspectRatio: false,
      layout: {
        padding: {
          left: 10,
          right: 25,
          top: 25,
          bottom: 0
        }
      },
      legend: {
        display: false
      },
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
          label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': '+number_format(tooltipItem.yLabel);
          }
        }
      }
    }
  })
</script>

{% endblock javascripts %}
