{% extends 'layouts/base.html' %}
{% block content %}
<div class="page-header">
    <div class="row align-items-center">
      <div class="col">
    
        <h3>Liste des établissements dans le territoire national<br></h3>
    </h3>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Etablisment</a></li>
      <li class="breadcrumb-item active">Tableau de Bord</li>
    </ul>
     </div>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                    <div class="mb-4">
                        <form class="navbar-search pull-left">
                            <th class="border-0 rounded-start">
                                <label for="exampleInputIconLeft">Nom d'etablisement</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>  
                                    </span>
                                    <input type="search" class="form-control" id="search-bar" placeholder="Tapez le Nom d'etablisement" aria-label="Search" aria-controls='org-eta-liste'>
                                </div>
                            </th>
                            <th class="border-0">
                                <label class="my-1 me-2" for="country">Wilaya</label>
                                <select class="form-select" id="country" aria-label="Default select example">
                                    <option selected>choisir un localisation</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </th>
                        </form>
                    </div>
                    <th class="border-0 rounded-end">
                        <button class="btn btn-pill btn-outline-info" type="button">Chercher</button>
                    </th>
                    </tr>
                </thead>
            </table>
            
        </div>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered mb-0 rounded align-middle" id="liste">
                <thead class="thead-light align-middle">
                    <tr>
                        <th class="border-0 rounded-start">Nom d'Etablisement</th>
                        <th class="border-0">Directeur</th>
                        <th class="border-0">Localisation</th>
                        <th class="border-0">Nbr Divisions</th>
                        <th class="border-0">Nbr Equipe</th>
                        <th class="border-0 ">Nbr Chercheurs</th>
                        <th class="border-0 rounded-end">Tableau de bord</th>
                    </tr>
                </thead>
                <tbody>
                    {%for eta,value in etablisements.items %}
                    <tr>
                        <td class=" border-0 rounded-start">
                            {% comment %} <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
                                Tooltip on right
                            </button> {% endcomment %}
                            <a href="{%url 'eta-dash' eta_id=eta.id %}" data-bs-toggle="tooltip" data-bs-placement="right" title="{{eta.long_nom}}">{{eta}}</a>

                        </td>
                        <td>
                            {{value.chef_eta}}
                        </td>
                        <td>
                            {{value.location}}
                        </td>
                        <td>
                            {{value.nbr_divisions}}
                        </td>
                        <td>
                            {{value.nbr_equipes}}
                        </td>
                        <td>
                            {{value.nbr_researchers}}
                        </td>
                        <td class="rounded-end">
                            <a class="btn btn-pill btn-outline-info" href="{%url 'org-etas-dash' eta_id=eta.id %}">consulter</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}
{% block javascripts %}

{% endblock javascripts %}
