{% extends "layouts/base.html" %} 
{%load static%} 
{% load tag %} 
{% block content %} 
{%block stylesheet%}
<style>
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .anychart-embed {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
  }
  #container {
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  #do {
    height: 80vh;
  }
  .btn-outline-info svg:hover{
      filL:#fff;
  }
  .card .row{
    background-color: transparent;
  }
  .shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  }
</style>
{% endblock stylesheet %}

<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3>Tableau de bord de L'organisation <b>MESRS</b><br></h3>
  </h3>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'org-carte'%}">Organisation</a></li>
    <li class="breadcrumb-item active">Tableau de Bord</li>
  </ul>
   </div>
  </div>
</div>

<div class="card shadow mb-4">
  <a class="d-block card-header py-3" 
      role="button" data-bs-toggle="collapse" data-bs-target="#collapseCardExample" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Les etablisements</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" >
      <div class="card-body">
          This is a collapsable card example using Bootstrap's built in collapse
          functionality. <strong>Click on the card header</strong> to see the card body
          collapse and expand!
      </div>
  </div>
  <div class="card-body card-body-cards">
    <div class="row collapse show" id="collapseCardExample">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
              </div>
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;" width="486" height="245" class="chartjs-render-monitor"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="myBarChart" style="display: block; height: 320px; width: 611px;" width="916" height="480" class="chartjs-render-monitor"></canvas>
        </div>
        <hr>
        Styling for the bar chart can be found in the
        <code>/js/demo/chart-bar-demo.js</code> file.
    </div>
  </div>
  <div class="col card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="myBarChart" style="display: block; height: 320px; width: 611px;" width="916" height="480" class="chartjs-render-monitor"></canvas>
        </div>
        <hr>
        Styling for the bar chart can be found in the
        <code>/js/demo/chart-bar-demo.js</code> file.
    </div>
  </div>
</div> 

<div class="row">
  <div class="col">
    <h5 class="card-header m-0 me-2 pb-3">citations</h5>
    <div class="col-12 px-0 mb-3" id="do"></div>
  </div>
</div>

<h3>Top Etablisement Citations</h3>

<h3>Top division Citations</h3>

<h3>Top equipe Citations</h3>

<h3>Top researcher citations</h3>


{% endblock content %} 
{% block javascripts %}
<script>
      var pie_data = [
          {x: 'Etablisement', value: 8},
          {x: 'Firefox', value: 7},
          {x: 'Safari', value: 3},
          {x: 'IE', value: 2}
      ]
      var chart = anychart.pie(pie_data);

      var outline = chart.hovered().outline();

      // Set width.
      outline.width('10%');

      chart.title('');
      chart.container('do');
      chart.draw();
      chart.hover(0);
</script>
{% endblock javascripts %}
