{%load tag %}


{{request}}

<br>
<br>
{%if request.resolver_match.url_name == 'try' %}
okok
{%endif%}
<div id="anychart-embed-samples-maps-events-01" class="anychart-embed anychart-embed-samples-maps-events-01">
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-map.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/geodata/2.1.1/countries/australia/australia.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <div id="ac_style_samples-maps-events-01" style="display:none;">
    html, body, #container {
        width: 90%;
        height: 90%;
        margin: 0;
        padding: 0;
    }
    </div>
    <script>(function(){
    function ac_add_to_head(el){
        var head = document.getElementsByTagName('head')[0];
        head.insertBefore(el,head.firstChild);
    }
    function ac_add_link(url){
        var el = document.createElement('link');
        el.rel='stylesheet';el.type='text/css';el.media='all';el.href=url;
        ac_add_to_head(el);
    }
    function ac_add_style(css){
        var ac_style = document.createElement('style');
        if (ac_style.styleSheet) ac_style.styleSheet.cssText = css;
        else ac_style.appendChild(document.createTextNode(css));
        ac_add_to_head(ac_style);
    }
    ac_add_link('https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4');
    ac_add_style(document.getElementById("ac_style_samples-maps-events-01").innerHTML);
    ac_add_style(".anychart-embed-samples-maps-events-01{width:600px;height:450px;}");
    })();</script>
    <h3 id="12">ok</h3>
    <div id="container"></div>
    
    <script>
    anychart.onDocumentReady(function () {
        const ok = document.getElementById("12")
        // This sample uses 3rd party proj4 component
        // that makes it possible to set coordinates
        // for the points and labels on the map and
        // required for custom projections and grid labels formatting.
        // See https://docs.anychart.com/Maps/Map_Projections
        
        var data =[
    {id: "AU.CT", value: 15},
    {id: "AU.VI", value: 23},
    {id: "AU.NT", value: 64},
    {id: "AU.WA", value: 86,pl:12},
    {id: "AU.QL", value: 16},
    {id: "AU.NS", value: 32},
    {id: "AU.TS", value: 28},
    {id: "AU.SA", value: 45}
        ];
    
        var map = anychart.map();
        map.geoData(anychart.maps.australia);
        map.choropleth(data);
        
        //create a function what to listen
        var func_listen = function(e){      
          console.log(e.iterator.f.id.toString())
          // ok.innerHTML = "fdas" 
          ok.innerHTML = e.iterator.f.value
        };
      
        //add a listener
        map.listen('pointClick', func_listen);
    
        map.container("container");
        map.draw();
    });
    </script>
    </div>