{% extends "layouts/base-fullscreen.html" %}
{%load static%}
{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    section{
        background-image: radial-gradient(circle at 40% 91%,hsla(0,0%,98.4%,.04) 0,hsla(0,0%,98.4%,.04) 50%,hsla(0,0%,89.8%,.04) 0,hsla(0,0%,89.8%,.04) 100%),radial-gradient(circle at 66% 97%,rgba(36,36,36,.04) 0,rgba(36,36,36,.04) 50%,rgba(46,46,46,.04) 0,rgba(46,46,46,.04) 100%),radial-gradient(circle at 86% 7%,rgba(40,40,40,.04) 0,rgba(40,40,40,.04) 50%,hsla(0,0%,78.4%,.04) 0,hsla(0,0%,78.4%,.04) 100%),radial-gradient(circle at 15% 16%,rgba(99,99,99,.04) 0,rgba(99,99,99,.04) 50%,rgba(45,45,45,.04) 0,rgba(45,45,45,.04) 100%),radial-gradient(circle at 75% 99%,hsla(0,0%,95.3%,.04) 0,hsla(0,0%,95.3%,.04) 50%,rgba(37,37,37,.04) 0,rgba(37,37,37,.04) 100%),linear-gradient(90deg,#22deed,#2544b3);
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                    Le receuille d'indicateur 
                </p>
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Log IN
                                </h1>
                                <br />
                                <span>
                                    {% if msg %}
                                        <p style="color:red;">{{ msg | safe }}</p>
                                    {% else %}
                                    <p> Ajoutez vos informations d'identification</p>
                                    {% endif %}                                     
                                </span> 
                            </div>
                            <form method="post" action="" class="mt-4">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-group mb-4">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-envelope"></span>
                                            </span>
                                            {{ form.email }}
                                            <br>
                                         
                                        </div>  
                                        {{ form.email.errors }}
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password">Votre Mot de pass</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.password }}
                                            {{ form.password.errors }}
                                        </div>  
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-gray-800">Sign IN</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Non enregistré?
                                    <a href="{% url 'register' %}" class="fw-bold" style="text-decoration:underline">Créer un compte</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<style>
   div h1 p{
    color:red;
   }

   .errorlist li {
    color:red;
    List-style-type:none;
}

</style>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
