{% extends "layouts/base-fullscreen.html" %}
{%load static%}
{% block title %} Sign UP {% endblock %} 
{% block stylesheets %}
<style>
    section{
        width:100vw;
        height:100vh;
        background-image: radial-gradient(circle at 40% 91%,hsla(0,0%,98.4%,.04) 0,hsla(0,0%,98.4%,.04) 50%,hsla(0,0%,89.8%,.04) 0,hsla(0,0%,89.8%,.04) 100%),radial-gradient(circle at 66% 97%,rgba(36,36,36,.04) 0,rgba(36,36,36,.04) 50%,rgba(46,46,46,.04) 0,rgba(46,46,46,.04) 100%),radial-gradient(circle at 86% 7%,rgba(40,40,40,.04) 0,rgba(40,40,40,.04) 50%,hsla(0,0%,78.4%,.04) 0,hsla(0,0%,78.4%,.04) 100%),radial-gradient(circle at 15% 16%,rgba(99,99,99,.04) 0,rgba(99,99,99,.04) 50%,rgba(45,45,45,.04) 0,rgba(45,45,45,.04) 100%),radial-gradient(circle at 75% 99%,hsla(0,0%,95.3%,.04) 0,hsla(0,0%,95.3%,.04) 50%,rgba(37,37,37,.04) 0,rgba(37,37,37,.04) 100%),linear-gradient(90deg,#22deed,#2544b3);
    }
</style>
{% endblock stylesheets %}
{% block content %}
<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="content row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center  m-20">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-900">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                Inscription
                            </h1>
                            <br />
                            <p>
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    Ajoutez vos informations
                                {% endif %}
                            </p>
                        </div>
                       

                        <form id="form" method="post" action="" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group mb-4">
                                <div class="row">
                                    <div class="col">
                                        <label for="last_name">Nom</label>
                                        <div class="input-group">
                                            {% comment %} <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-user-circle"></span>
                                            </span> {% endcomment %}
                                            {{ form.last_name }}
                                        </div>
                                      
                                    </div>
                                    <div class="col">
                                        <label for="first_name">Prénom</label>
                                        <div class="input-group">
                                        {{ form.first_name }}
                                        </div>
                                       
                                    </div>
                                    <div class="col">
                                        <label for="speciality">spécialité</label>
                                        <div class="input-group">
                                            {{ form.speciality }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="row">
                                    <div class="col">
                                        <label for="grade">Grade</label>
                                        <div class="input-group">
                                            {{ form.grade }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="google_scholar_account">Compte Google Scholar </label>
                                        <div class="input-group">
                                            <div class="is-invalid">{{ form.google_scholar_account }}</div>
                                            <span class="text-error">{{ form.google_scholar_account.errors }}</span>
                                        </div>
                                        {%if messages %}
                                        {% for message in messages %} {{message}} {%endfor%}
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-envelope"></span>
                                            </span>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="row">
                                    <div class="col">
                                        <label for="wilaya">Wilaya</label>
                                        <select class="form-select" id="wilaya" >
                                            <option value='0' selected>Tous</option>
                                            {%for wilaya in wilayas%}
                                            <option value="{{wilaya.id}}">{{wilaya}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="eta">Etablisment</label>
                                        <select class="form-select" id="eta">
                                            <option value='0' selected>Tous</option>
                                            {%for eta in etas%}
                                            <option value="{{eta.id}}">{{eta}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="div">Division</label>
                                        <select class="form-select" id="div">
                                            <option value='0' selected>Tous</option>
                                            {%for div in divs%}
                                            <option value="{{div.id}}">{{div}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="email">Equipe</label>
                                        <select class="form-select" id="id_equipe_id" name="equipe_id">
                                            <option value='0' selected>Tous</option>
                                            {%for equipe in equipes%}
                                            <option value="{{equipe.id}}">{{equipe}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="email">Equipe R</label>
                                        {{form.equipe_researchers}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-4">
                                            <label for="password">Le mot de passe</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2">
                                                    <span class="fas fa-unlock-alt"></span>
                                                </span>
                                                {{ form.password1 }}
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-4">
                                            <label for="password">Confirmez Le mot de passe</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2">
                                                    <span class="fas fa-unlock-alt"></span>
                                                </span>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="passwordToggle" onclick="showHide()">
                                        <label class="form-check-label fw-normal mb-0">
                                            Show/Hide password
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <span class="text-error">{{ form.last_name.errors }}</span>
                            <span class="text-error">{{ form.first_name.errors }}</span>
                            <span class="text-error">{{ form.speciality.errors }}</span>
                            <span class="text-error">{{ form.grade.errors }}</span>
                            <span class="text-error">{{ form.email.errors }}</span>
                            <span class="text-error">{{ form.password1.errors }}</span>
                            <span class="text-error">{{ form.password2.errors }}</span>
                            
                            <div class="d-grid">
                                <button type="submit" name="register" class="btn btn-gray-800">Sign UP</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                Vous avez déjà un compte? 
                                <a href="{% url 'login' %}" class="fw-bold" style="text-decoration:underline;">S'identifier</a>
                            </span>
                        </div>
                        {% comment %} {% for message in messages %}
                        <p id="messages" style="margin-bottom: -91px; color:red; margin-right: 263px; text-align:left; color: red;">{{message}}</p>
                        {% endfor %} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




<style>
.errorlist li {
    color:red;
    List-style-type:none;
}

.errorlist{

}
</style>
<script>
    var drop = document.getElementById("id_role");
    drop.className += "form-select mb-0";
  </script>
<script>
    const name  = document.getElementById('name')
    const password = document.getElementById('id_password1')
    const password2 = document.getElementById('id_password2')
    const form = document.getElementById('form')
    const errorElement = document.getElementById('error')
    
    form.addEventListener('submit', (e) => {
        let messages = []
        if (password.value.length >= 20) {
            password.className += " is-invalid";
          }
          if (password.value != password2.value) {
            messages.push('veuillez confirmer le meme mot de pass');
            password.className += " is-invalid";
            password2.className += " is-invalid";
          }
         
          if (messages.length > 0) {
            e.preventDefault()
            errorElement.innerText = messages.join(', ')
          }
      }
    ) </script>
   
    <script>
        function showHide(){
            var passwordToggle= document.getElementById("passwordToggle");
            var x = document.getElementById("id_password1");
            var y = document.getElementById("id_password2");
            if (passwordToggle.checked){
                console.log("hello 1")
                x.type = 'text';
                y.type = 'text';
            }
            else{
                console.log("hello 2")
                x.type = 'password';
                y.type = 'password';
            }
        }
    </script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const ok = '{% if form.google_scholar_account.errors %}is-invalid{%endif%}'
    $( window ).on( "load",function(){
        $('#id_google_scholar_account').addClass(ok)
    });

    $( window ).on( "load",function(){
        $('#wilaya').val('0')
        $('#eta').val('0')
        $('#div').val('0')
        $('#id_equipe_id').val('0')
    });
    $('#wilaya').change(function(){
        $('#eta').val('0')
        $('#div').val('0')
        $('#id_equipe_id').val('0')
        $.ajax({
            url:"{% url 'eta-options'%}",
            data:{
                'id_wilaya': $(this).val()
            },
            success: function(data){
                console.log(data);
                $('#eta').html(data)
            }
        })
        $.ajax({
            url:"{% url 'div-options' %}",
            data:{
                'id_wilaya': $(this).val(),
                'id_eta': $('#eta').val(),
            },
            success: function(data){
                console.log(data);
                $('#div').html(data)
            }
        });
        $.ajax({
            url:"{% url 'equipe-options'%}",
            data:{
                'id_wilaya': $(this).val(),
                'id_eta': $('#eta').val(),
                'id_div': $('#div').val()
            },
            success: function(data){
                $('#id_equipe_id').html(data)
            }
        })
    })
    $('#eta').change(function(){
        $('#div').val('0')
        $('#id_equipe_id').val('0')
        
        $.ajax({
            url:"{% url 'div-options'%}",
            data:{
                'id_wilaya': $('#wilaya').val(),
                'id_eta': $(this).val()
            },
            success: function(data){
                $('#div').html(data)
            }
        });
        $.ajax({
            url:"{% url 'equipe-options'%}",
            data:{
                'id_wilaya': $('#wilaya').val(),
                'id_eta': $(this).val(),
                'id_div': $('#div').val()
            },
            success: function(data){
                $('#id_equipe_id').html(data)
            }
        });
    })
    $('#div').change(function(){
        $('#id_equipe_id').val('0')
        $.ajax({
            url:"{% url 'equipe-options'%}",
            data:{
                'id_wilaya': $('#wilaya').val(),
                'id_eta': $('#eta').val(),
                'id_div': $('#div').val()
            },
            success: function(data){
                $('#id_equipe_id').html(data)
            }
        });
    })
</script>

{% endblock javascripts %}
